Python divides the operators in the following groups:

*Arithmetic operators
*Assignment operators
*Comparison operators
*Logical operators
*Identity operators
*Membership operators
*Bitwise operators

In [6]:
!conda install lxml -y

'conda' is not recognized as an internal or external command,
operable program or batch file.

python Airthmetic operators

In [7]:
# !pip install pandas
# import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

NameError: name 'pd' is not defined

In [ ]:
a : int = 7
b : int = 6
print(a+b)  #addition
print(a-b)  #subtraction
print(a*b)  #multiplication
print(a%b)   #module
print(a/b)   #division

13
1
42
1
1.1666666666666667

In [ ]:
a : int = 5
b : int = 8
print(a%8)

5

In [ ]:
a : int = 88
b : int =96
print(a//b)
print(a/b)

0
0.9166666666666666

In [ ]:
print(14.7/6)

2.4499999999999997

python assignment operator

In [22]:
table[1]

2

print table

In [23]:
table[3]

4

In [24]:
# +=
a : int = 5
print(a)
a : int = a + 3
print(a)

5
8

In [25]:
# +=
a : int = 5
print(a)
a +=4
print(a)

5
9

In [26]:
# -=
a : int = 5
print(a)
a -=4
print(a)

5
1

In [27]:
# *=
a : int = 5
print(a)
a *=4
print(a)

5
20

In [28]:
# /=
a : int = 6
print(a)
a /=7
print(a)

6
0.8571428571428571

In [29]:
# %=
a : int = 6
print(a)
a %=7
print(a)

6
6

In [30]:
# //=
a : int = 6
print(a)
a //=7
print(a)

6
0

In [31]:
# **=
a : int = 6
print(a)
a **=7
print(a)

6
279936

In [32]:
a : int = 7
print(b :=a)

7

#Python Comparison Operators

In [34]:
table[2]

3

In [37]:
a : int = 7
b : int = 7
print(a==b)
# a==b
# 7==10
#true

True

In [38]:
# ==
a : int = 7
b : str = '7'
print(a==b)
# a==b
# 7==10
#true

False

In [39]:
# !=
a : int = 7
b : str = 8
print(a!=b)

True

In [40]:
# >=
a : int = 7
b : str = 8
print(a>=b)

False

In [41]:
# <=
a : int = 7
b : str = 8
print(a<=b)

True

In [43]:
# >
a : int = 7
b : str = 8
print(a>b)

False

In [44]:
# <
a : int = 7
b : str = 8
print(a<b)

True

ASCII code
z = 90
a = 97
z = 122
o=48
9=57

In [46]:
A = 65
B = 66
z = 90
a = 97
b =98
z = 122
0 =48
1 =49
9 =57
10 =58

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3047209952.py, line 7)

In [49]:
chr(65)
chr(90)

'Z'

In [50]:
ord('A')

65

#Python Logical Operators

In [57]:
table[3]

4

In [2]:
name : str = "Amina Ameen"
print(not name== "Amina Ameen")
# name== 'Amina Ameen' 
#"Amina== Ameen"

False

In [3]:
name : str = "Amina Ameen"
print(not name!= "Amina Ameen")
# name== 'Amina Ameen' 
#"Amina== Ameen"

True

# python identity operators

In [5]:
x : str = "abc"
z : str = "abc"
print(id(x))
print(id(z))

140719368026168
140719368026168

In [6]:
x is z

True

In [8]:
x : str = "abc"
z : str = "abc"
print(id(x))
print(id(z))
x is not z

140719368026168
140719368026168

False

In [12]:
i : str = "abc"
j : str = "lmn"
print(id(i))
print(id(j))
i is  j

140719368026168
1683753674448

False

#python membership operators

In [25]:
names :list[str] = [chr(i) for i in range(65,91)]
for i in range(len(names)):
    print(i, names[i])

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
8 I
9 J
10 K
11 L
12 M
13 N
14 O
15 P
16 Q
17 R
18 S
19 T
20 U
21 V
22 W
23 X
24 Y
25 Z

In [28]:
names :list[str] = [chr(i) for i in range(65,91)]
display(names)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [27]:
names :list[str] = [chr(i) for i in range(65,91)]
"pakistan" in names

False

In [30]:
names : list[str] = ["sir","maam","student"]
uinput : str =input ("enter your name")
uinput is not names

True

In [31]:
names : list[str] = ["sir","maam","student"]
uinput : str =input ("enter your name")
uinput is names

False

PEMDAS

In [ ]:
print(3+2-2*4/2+2)
#     3+2-8/2+2
#     3+2-4+2
#    6     -8

To solve the expression 
(
3
+
2
−
2
×
4
÷
2
+
2
)
(3+2−2×4÷2+2) step by step, we will follow the order of operations (PEMDAS/BODMAS):

Parentheses
Exponents
Multiplication and Division (from left to right)
Addition and Subtraction (from left to right)
Step-by-Step Solution:
Given expression: 
(
3
+
2
−
2
×
4
÷
2
+
2
)
(3+2−2×4÷2+2)

Multiplication and Division (from left to right):

First, perform the multiplication:
2
×
4
=
8
2×4=8
The expression now looks like:

(
3
+
2
−
8
÷
2
+
2
)
(3+2−8÷2+2)
Next, perform the division:
8
÷
2
=
4
8÷2=4
The expression now looks like:

(
3
+
2
−
4
+
2
)
(3+2−4+2)
Addition and Subtraction (from left to right):

Perform the addition and subtraction:
3
+
2
=
5
3+2=5
5
−
4
=
1
5−4=1
1
+
2
=
3
1+2=3
So, the value of the expression 
(
3
+
2
−
2
×
4
÷
2
+
2
)
(3+2−2×4÷2+2) is 
3
3.

In [33]:
print((6+2)-((3+7)))

-2

In [38]:
universe_age :int = 14_000_000_000
print(universe_age)

14000000000

In [40]:
import cgi
#
#0  1   2      0     1    2
a , b , c = "amina","7","8.9"
print(a)
print(b)
print(c)

amina
7
8.9

In [41]:
a , b , c = ("amina","7","8.9")
print(a)
print(b)
print(c)

amina
7
8.9

In [42]:
data : str = ("amna",5,8.9)
print(data[0],data[1],data[2])

amna 5 8.9

In [43]:
data : str = ("amna",5,8.9)
print(*data)

amna 5 8.9

In [44]:
2*2
'a'*3

'aaa'

In [45]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!