In [11]:
print("name")

name

In [12]:
name : str = "Amina Ameen"
print(name)

Amina Ameen

#String data type in python

In [14]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (4212690934.py, line 1)

In [ ]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [ ]:
message : str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [ ]:
#convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [ ]:
#boundries
#'string text',"string text",'''string text''',"""string text"""
#'string text' type script
name : str = "Amina Ameen"
print(type(name))
print(name)

<class 'str'>
Amina Ameen

In [ ]:
#boundries
#'string text',"string text",'''string text''',"""string text"""
#'string text' type script
name : str = 'Amina Ameen'
print(type(name))
print(name)

<class 'str'>
Amina Ameen

In [ ]:
"a" + "b" + "c"

'abc'

In [17]:
#boundries
#'string text',"string text",'''string text''',"""string text"""
#'string text' type script
name : str = "Amina Ameen"
fname : str = "Ameen Ullah"
education : str = "BSIT student and programming learning"
age : int = 20
card : str = "PIAIC Student Card\n Student Name : " + name + " \nAge: " + str(age)
print(card)

PIAIC Student Card
 Student Name : Amina Ameen
Age: 20

In [18]:
print(7+2+8)

17

"\" Continue Line

In [25]:
print(7 + \
      2 + \
        8)

17

In [28]:
#boundries
#'string text',"string text",'''string text''',"""string text"""
#'string text' type script
name : str = "Amina Ameen"
fname : str = "Ameen Ullah"
education : str = "BSIT student and programming learning"
age : int = 20
card : str = "PIAIC Student Card\n Student Name : " + name +\
" \nAge: " + str(age)+ "\n"\
"education:" + education
print(card)

PIAIC Student Card
 Student Name : Amina Ameen
Age: 20
education:BSIT student and programming learning

## Define multiline string """ """,''' '''

In [31]:
name : str = "Amina Ameen"
fname : str = "Ameen Ullah"
education : str = "BSIT student and programming learning"
age : int = 20

card : str ="""  
PIAIC Student Card
Student Name :.......
father's Name :.......
education :......
age :.......
"""
print(card)

PIAIC Student Card
Student Name :.......
father's name :.......
education :......
age :.......

#F_ string python

In [32]:
name : str = "Amina Ameen"
fname : str = "Ameen Ullah"
education : str = "BSIT student and programming learning"
age : int = 20

card : str =f"""  
PIAIC Student Card
Student Name :{name}
father's Name :{fname}
education :{education}
age :{age}
"""
print(card)

PIAIC Student Card
Student Name :Amina Ameen
father's name :Ameen Ullah
education :BSIT student and programming learning
age :20

In [36]:
name : str = "Amina Ameen"
fname : str = "Ameen Ullah"
education : str = "BSIT student and programming learning"
age : int = 20

card : str =f"""  
PIAIC Student Card
Student Name :{name}
father's Name :{fname}
education :{education}
age :{age}

Total {3+5+9}
"""
print(card)

PIAIC Student Card
Student Name :Amina Ameen
father's name :Ameen Ullah
education :BSIT student and programming learning
age :20

Total 17

#F_string and jinja styie

In [39]:
#F_string
f"""

Student Name {name}
"""

'\n\nStudent Name Amina Ameen\n'

In [40]:
#jinja style
f"""

Student Name {{name}}
"""

'\n\nStudent Name {name}\n'

In [7]:
name : str = "Amina Ameen"
fname : str = "Ameen Ullah"
education : str = "BSIT student and programming learning"
age : int = 20

card : str =f"""  
PIAIC Student Card
Student Name :  %s
father's Name : %s
education : %s
age : %d


""" % (name, fname, education, age)
print(card)

PIAIC Student Card
Student Name :  Amina Ameen
father's Name : Ameen Ullah
education : BSIT student and programming learning
age : 20

In [3]:
[i for i in dir(str) if "_" not i]

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
name : str = 'amina ameen'
print(name.capitalize())
print(name.lower())
print(name.upper())

Amina ameen
amina ameen
AMINA AMEEN

In [7]:
a = 7
b = 9
# {} place holder

"pakistan value a = {7} value b ={9}.format(a,b)"

'pakistan value a = {7} value b ={9}.format(a,b)'

In [11]:
name : str = "Amina Ameen"
fname : str = "Ameen Ullah"
education : str = "BSIT student and programming learning"
age : int = 20

card : str =f"""  
PIAIC Student Card
Student Name :{1}
father's Name :{0}
age : {3}
education :{2}

""" .format(name, fname, education, age)
#             0     1        2       3
print(card)

PIAIC Student Card
Student Name :1
father's Name :0
age : 3
education :2

In [12]:
student_code : str ="""
print("My name is Amina")
a : int = 6
b : int = 9
print(a+b)
""" 
exec(student_code)

My name is Amina
15

Explore string methods and attributes
pre_define global function we have used
*print
*type
*id
*dir
*len

In [13]:
a: list[str]= [i for i in dir(str) if "_" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

Different string methods and attributes

In [14]:
name : str = "Amina Ameen"
print(name)
print(name.encode())

Amina Ameen
b'Amina Ameen'

In [21]:
name : str = "     Amina Ameen     "
#variable_name.methods{}
display(name)
display(name.lstrip())

'     Amina Ameen     '

'Amina Ameen     '

In [22]:
name : str = "     Amina           Ameen     "
#variable_name.methods{}
display(name)
display(name.strip())

'     Amina       Ameen     '

'Amina       Ameen'

\t
\n
\b

In [24]:
print("name:\t\t amina ameen")

name:		 amina ameen

In [25]:
print("name:\n\n amina ameen")

name:

 amina ameen

In [26]:
print("name:\b\b amina ameen")

nam amina ameen

In [1]:
nostarch_url :str = 'https://nostarch.com'
nostarch_url.removeprefix('https://nostarch.com')

''

In [3]:
_1name  : str= "amina"
print(_1name)

amina

In [4]:
piaic student name :str = "amina"
print(piaic student name)

SyntaxError: invalid syntax (4068602893.py, line 1)

In [5]:
piaic_student_name :str = "amina"
print(piaic_student_name)

amina