In [1]:
name1 : str = 'amna'
name2 : str = "jhon"
name3 : str = "anm"

#list
* dynamic length
* hytrigenous data types (Multiple types)
* Index 
  *positive o to n-1
  *negative -1 ti length
*slicing
*variables names(start,end,step)
  *start: int = include
  *end: int =n-1
  *step: int = sequance

In [5]:
#old way
#->         0      1      2
names = ["amna","jhon","anm"] # length-1
#-<       -3      -2    -1
print(names[0])# amna
print(names[-3])# amna
print(names[2])# anm
print(names[1])# jhon

amna
amna
anm
jhon

In [15]:
#->         0      1      2
names :list[any] = ["amna","jhon","anm"] # length-1
#-<       -3      -2    -1
print(names[-2])

anm

In [14]:
#for typing import Any
#->         0      1      2
names :list[any] = ["amna","jhon","anm"] # length-1
#-<       -3      -2    -1
print(type(names))
print(type(names[-2]))
print(f'founder of PIAIC {names[-2]. upper()}')

<class 'list'>
<class 'str'>
founder of PIAIC JHON

In [16]:
#->         0      1      2
names :list[str] = ["amna","jhon","anm"] # length-1
#-<       -3      -2    -1
print(names[-2])

jhon

In [22]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [24]:
characters : list[str] = list("abcdefghij")
print(characters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [28]:
#                         0   1   2                                                                                           25
character : list[str] = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
#                        -26  -25 -24                                                                                       -3   -2   -1
# default slicing go from left to right
print(character[0:2]) # 0=include : index 2-1=1
print(character[:2]) # not pass any number = all
print(character[-26:-24])# 0=include : index -24-1=-25
print(character[0:2:1]) # 0=include : index 2-1=1
print(character[0:2:]) # 0=include : index 2-1=1

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [34]:
characters : list[str] =  ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
print(characters[::2])

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [35]:
characters : list[str] =  ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
print(characters[::-1])

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [36]:
characters : list[str] =  ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
print(characters[1:-3])

['B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W']

In [37]:
#                           0   1   2   3   4   5   6   7 
characters : list[str] =  ['A','B','C','D','E','F','G','H']
#                          -8  -7  -6  -5  -4  -3  -2   -1 
# iteration clising ->
# step -> positive
# step -< negative
print(characters[-1:-3:-5])

['H']

#List methods

In [49]:
[i for i in dir(list)if"_" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

help
*help(object)
*object?
*object??
*?object
*??object

In [50]:
??print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [51]:
?pop

Object `pop` not found.

In [42]:
#->         0      1      2
names :list[any] = ["amna","jhon","anm",20,"true"] # length-1
#-<       -3      -2    -1
print(names)
names[0] =" Amina Amen" #mutable-> editable
print(names)

['amna', 'jhon', 'anm', 20, 'true']
[' Amina Amen', 'jhon', 'anm', 20, 'true']

In [45]:
a : str = print("pakistan") # non_ return function
display(a)

pakistan

None

In [46]:
a : str = id (names) # return function
display(a)

2732608231424

# pop method

In [52]:
#->         0      1      2
names :list[any] = ["amna","jhon","anm"] # length-1
#-<       -3      -2    -1
a : str = names.pop() # pop return method
print(a)

anm

In [64]:
names : list[str] =["a","b","c","d","e","f"]
print(names)
names.insert(1 ,"amina")# insert particular position

print(names)

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'amina', 'b', 'c', 'd', 'e', 'f']

In [66]:
a : list[str]=[1,2,3,4]
a.clear()# remove all elements but object is ramin
print(a)

[]

In [ ]:
a : list[str]=[1,2,3,4]
del a  # remove object from memory
print(a)

In [53]:
print(print("pakistan zindabad"))

pakistan zindabad
None

In [57]:
#->         0      1      2
names :list[any] = ["amna","jhon","anm"] # length-1
#-<       -3      -2    -1
print(names)
a : str = names.pop(0) # pop return method
print(a)
print(names)

['amna', 'jhon', 'anm']
amna
['jhon', 'anm']

# append methods add elements in last

In [62]:
name : list[str]= ["a","b"]
name.append("ameen ullah")# ad element in last
name.append("ameen")# add element in last
name.append("sir zia")# add element in last
print(name)

['a', 'b', 'ameen ullah', 'ameen', 'sir zia']

In [68]:
a : list[str]=['a','b','c','d']
b=a # shallow copy
print(a)
print(b)
b[0]= "pakistan" # change only b variable but both variable updated
print(a)
print(b)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['pakistan', 'b', 'c', 'd']
['pakistan', 'b', 'c', 'd']

In [74]:
a : list[str]=['a','b','c','d']
b=a.copy() # Deep copy
print("a",a)
print("b",b)
b[0]= "pakistan" # change only b variable but both variable updated
print("a",a)
print("b",b)

a ['a', 'b', 'c', 'd']
b ['a', 'b', 'c', 'd']
a ['a', 'b', 'c', 'd']
b ['pakistan', 'b', 'c', 'd']

In [76]:
# count
names : list[str]= ['a','a','a','b','c','c']
print(names.count("c"))
print(names.count("a"))

2
3

In [77]:
names : list[str]=["sir qasim","sir zia"]# GenAI founder members
new_faculty_member : list[str]=['Dr.aman','sir zia']
names.append(new_faculty_member)
names

['sir qasim', 'sir zia', ['Dr.aman', 'sir zia']]

In [83]:
names : list[str] =["sir zia","muhammad qasim","dr.anam","sir ahsan"]
names.remove("sir zia")# remove with text value
print(names)

['muhammad qasim', 'dr.anam', 'sir ahsan']

In [85]:
names : list[str]= list("ABCDEFG")
print(names)
names.reverse()# in memory = change real data
names

['A', 'B', 'C', 'D', 'E', 'F', 'G']

['G', 'F', 'E', 'D', 'C', 'B', 'A']

In [86]:
names : list[str]= list("ABCDEFG")
print(names)
names.sort(reverse=True)# in memory = change real data sort
names

['A', 'B', 'C', 'D', 'E', 'F', 'G']

['G', 'F', 'E', 'D', 'C', 'B', 'A']

In [80]:
: list[str] =["sir zia","muhammad qasim","dr.anam","sir ahsan"]
index("muhammad qasim" ,2)# 1

ValueError: 'sir zia' is not in list

In [87]:
names : list[str]=["sir qasim","sir zia"]# GenAI founder members
new_faculty_member : list[str]=['Dr.aman','sir zia']
names.extend(new_faculty_member)
names

['sir qasim', 'sir zia', 'Dr.aman', 'sir zia']